.big-content
  .header-link.left.active= link_to "TUTORS", "/customer_homes/index_tutor_post/1"
  .divider.left= "|"
  .header-link.left.inactive= link_to "MY RECEIPTS", "/customer_homes/index_recipe/1"
  .clearboth
  - @tutor_posts.each do |tutor_post|
    .post-content.left
      .text-content-left.left
        .h1.link= link_to "#{tutor_post.user.username.upcase}", "/customer_homes/show_tutor_post/#{tutor_post.id}"
        .h2= tutor_post.user.email
        .h2= "District: "+tutor_post.district
        .h2= "City(Province): "+tutor_post.city_province
        -if !tutor_post.user.rate.nil?
          .h2= tutor_post.user.rate
        .h2.link= link_to "Accept", "/customer_homes/create_recipe/#{tutor_post.user.id}/#{tutor_post.id}", :method => "post"
      .text-content-right.left
        .h2= tutor_post.content.truncate(250)
      
  .clearboth
  .paginate.right= will_paginate @tutor_posts