.big-content
  .header-link.left.inactive= link_to "TUTORS", "/customer_homes/index_tutor_post/1"
  .divider.left= "|"
  .header-link.left.active= link_to "MY RECEIPTS", "/customer_homes/index_recipe/1"
  .clearboth
  - @recipes.each do |recipe|
    .small-content.left
      .text-content-left.left
        .h1.link= link_to "#{recipe.other.username.upcase}", "/customer_homes/show_recipe/#{recipe.id}"
        - if recipe.poster_confirmation
          = ratings_for recipe.other, :remote_options => {:url => "/customer_homes/rate/#{recipe.other.id}"}, :show_user => true
        - else
          = ratings_for recipe.other, :static, :remote_options => {:url => "/customer_homes/rate/#{recipe.other.id}"}, :show_user => true
        .h2= recipe.other.email
        .h2= recipe.tutor_post.subject
        - if recipe.poster_confirmation.nil?
          .h2.waiting Waiting for confirmation ...
        - elsif recipe.poster_confirmation
          .h2.success= "Confirmed"
        - else
          .h2.error= "Denied"
  .clearboth
  .paginate.right= will_paginate @recipes