.big-content
	.header-link.left.inactive= link_to "TUTORS", "/customer_homes/index_tutor_post/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@tutor_post.user.username.truncate(20).upcase}", "/customer_homes/show_tutor_post/#{@tutor_post.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY RECEIPTS", "/customer_homes/index_recipe/1"
	.clearboth
	.content
		.h1= "Tutor's Name: "+@tutor_post.user.username
		.h1= "Email: "+@tutor_post.user.email
		.h1= "Gender: "+@tutor_post.user.gender.to_s
		.h1= "Subject: "+@tutor_post.subject
		-if !@tutor_post.experience.nil?
			.h1= "Experience: "+@tutor_post.experience
		-if !@tutor_post.tutor_fee.nil?
			.h1= "Expected Salary: "+@tutor_post.tutor_fee
		.h1= "Address: "+@tutor_post.address+", district: "+@tutor_post.district+", city/crovince: "+@tutor_post.city_province+"."
		.h1= @tutor_post.user.rate
		%br
		%i.h1= @tutor_post.content
		.h1.link.link_at_the_bottom= link_to "Accept", "/customer_homes/create_recipe/#{@tutor_post.user.id}/#{@tutor_post.id}", :method => "post" 