.big-content
	.header-link.left.inactive= link_to "TUTORS", "/customer_homes/index_tutor_post/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@tutor_post.user.username.truncate(20).upcase}", "/customer_homes/show_tutor_post/#{@tutor_post.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY RECEIPTS", "/customer_homes/index_recipe/1"
	.clearboth
	.content
		.h1= @tutor_post.user.username
		= ratings_for @tutor_post.user, :status, :remote_options => {:url => "/customer_homes/rate/#{@tutor_post.user.id}"}
		%br
		.h2
			%b Email:
			= @tutor_post.user.email
		.h2
			%b Gender:
			= @tutor_post.user.gender.to_s
		.h2
			%b Subject:
			= @tutor_post.subject
		-if !@tutor_post.experience.nil?
			.h2
				%b Experience:
				= @tutor_post.experience
		-if !@tutor_post.tutor_fee.nil?
			.h2
				%b Expected Salary:
				= @tutor_post.tutor_fee
		.h2
			%b District:
			= @tutor_post.district
		.h2
			%b City/Province:
			= @tutor_post.city_province
		%br
		.h2
			%b Brief introduction
			%br
			%i= @tutor_post.content
		- if my_recipe = @tutor_post.recipes.find { |recipe| recipe.tutor_post.id == @tutor_post.id }
			.h2.link= link_to "Already requested", "/customer_homes/show_recipe/#{my_recipe.id}"
		- else
			.h2.link= link_to "Request", "/customer_homes/create_recipe/#{@tutor_post.user.id}/#{@tutor_post.id}", :method => "post"