.big-content
	.header-link.left.inactive= link_to "TUTORS", "/customer_homes/index_tutor_post/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY RECEIPTS", "/customer_homes/index_recipe/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@recipe.others.username.upcase}", "/customer_homes/show_recipe/#{@recipe.id}"
	.clearboth
	.content
		.h1= "Tutor: "+@recipe.others.username
		- if @recipe.poster_confirmation.nil?
			.h1= "Waiting for "+@recipe.others.username+ "'s confirmation ..."
		- else
			.h1= "Confirmed by "+@recipe.others.username
		.h1= "Receipt created at: "+@recipe.created_at.strftime("%M:%H %p on %d/%m/%y")
		.h1= link_to "Delete", "/customer_homes/delete_recipe/#{@recipe.id}"