.big-content
	.header-link.left.inactive= link_to "TUTORS", "/customer_homes/index_tutor_post/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@tutor_post.user.username.truncate(20).upcase}", "/customer_homes/show_tutor_post/#{@tutor_post.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY RECEIPTS", "/customer_homes/index_recipe/1"
	.clearboth
	.content
		.s4=@tutor_post.user.username.capitalize
		.h2= ratings_for @tutor_post.user, :status, :remote_options => {:url => "/customer_homes/rate/#{@tutor_post.user.id}"}
		.s3.left= "Email: "
		.s5.left=@tutor_post.user.email
		.clearboth
		.s3.left= "Gender: "
		.s5.left=@tutor_post.user.gender.to_s
		.clearboth
		.s3.left= "Subject: "
		.s5.left=@tutor_post.subject.capitalize
		.clearboth
		-if !@tutor_post.experience.nil?
			.s3.left= "Experience: "
			.s5.left=@tutor_post.experience
			.clearboth
		-if !@tutor_post.tutor_fee.nil?
			.h1= "Expected Salary: "+@tutor_post.tutor_fee
		.h1= "District: "+@tutor_post.district
		.h1= "City/Province: "+@tutor_post.city_province
		%br
		%i.h1= @tutor_post.content
		- if my_recipe = @tutor_post.recipes.find { |recipe| recipe.tutor_post.id == @tutor_post.id }
			.h1.link.link_at_the_bottom= link_to "Already requested", "/customer_homes/show_recipe/#{my_recipe.id}"
		- else
			.h1.link.link_at_the_bottom= link_to "Request", "/customer_homes/create_recipe/#{@tutor_post.user.id}/#{@tutor_post.id}", :method => "post"
