.big-content
	.header-link.left.inactive= link_to "CREATE", "/tutor_posts/new"
	.divider.left= "|"
	.header-link.left.inactive= link_to "TUTORS", "/customer_homes/index_tutor_post/1"
	.divider.left= "|"
	.header-link.left.active= link_to "#{@tutor_post.user.username.truncate(20).upcase}", "/customer_homes/show_tutor_post/#{@tutor_post.id}"
	.clearboth
	.content
		.h2= @tutor_post.user.username
		.h2= @tutor_post.user.email
		.h2= @tutor_post.user.gender
		.h2= @tutor_post.user.subject
		.h2= @tutor_post.user.location.address
		.h2= @tutor_post.user.rate
		.h2= @tutor_post.content
		.h2.link= link_to "Commit", "/customer_homes/create_recipe"