.big-content
	.header-faq.left
		CONTACT
	.clearboth
	.faq-content
		.block
			.image.left= image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/c28.28.350.350/s160x160/556289_449188301760347_636074324_n.jpg", :size => "60x60"
			.small-block.left
				.name.left
					Phuc Trinh
				.clearboth
				.email.left= link_to "lytienphuc0810@gmail.com", "mailto:lytienphuc0810@gmail.com"
			.clearboth

		.block
			.image.left= image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/c149.53.663.663/s160x160/535087_10150765833653840_1993848463_n.jpg", :size => "60x60"
			.small-block.left
				.name.left
					Vinh Bua
				.clearboth
				.email.left= link_to "kysi_36@gmail.com", "mailto:kysi_36@gmail.com"
			.clearboth

		.block
			.image.left= image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/s160x160/173231_100000541283157_1899083328_n.jpg", :size => "60x60"
			.small-block.left
				.name.left
					Tuan Thot
				.clearboth
				.email.left= link_to "sqrpro@gmail.com", "mailto:sqrpro@gmail.com"
			.clearboth

		.block
			.image.left= image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc7/c28.28.344.344/s160x160/406321_3111518241997_743785017_n.jpg", :size => "60x60"
			.small-block.left
				.name.left
					Vu Troll Nguy Hiem
				.clearboth
				.email.left= link_to "anhvu_le291291@gmail.com", "mailto:anhvu_le291291@gmail.com"
