.big-content
	.header-link.left.inactive= link_to "CUSTOMER POSTS", "/mods/index_customer_post/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@customer_post.user.username.upcase}", "/mods/show_customer_post/#{@customer_post.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "TUTOR POSTS", "/mods/index_tutor_post/1"
	.clearboth
	.content
		.h3= @customer_post.user.username.upcase
		.h2
			%b Email:
			= @customer_post.user.email
		.h2
			%b Gender:
			= @customer_post.user.gender
		.h2
			%b Subject:
			= @customer_post.subject.capitalize
		-if !@customer_post.experience.nil?
			.h2
				%b Required Experience:
				= @customer_post.experience
		-if !@customer_post.tutor_fee.nil?
			.h2
				%b Offered Salary:
				= @customer_post.tutor_fee
		.h2
			%b District:
			= @customer_post.district
		.h2
			%b City/Province:
			= @customer_post.city_province
		.h2
			%b Brief introduction:
			%i= @customer_post.content
		%br
		- if @customer_post.published
			.h2.right.link= link_to "Refuse it", "/mods/refuse_customer_post/#{@customer_post.id}"
		- else
			.h2.right.link= link_to "Publish it", "/mods/publish_customer_post/#{@customer_post.id}"
