.big-content
	.header-link.left.inactive= link_to "CUSTOMER POSTS", "/mods/index_customer_post/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "TUTOR POSTS", "/mods/index_tutor_post/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@tutor_post.user.username.upcase}", "/mods/show_tutor_post/#{@tutor_post.id}"
	.clearboth
	.content
		.h1= @tutor_post.user.username.upcase
		%br
		.h2
			%b Email:
			= @tutor_post.user.email
		.h2
			%b Gender:
			= @tutor_post.user.gender.to_s
		.h2
			%b Subject:
			= @tutor_post.subject.capitalize
		-if !@tutor_post.experience.nil?
			.h2
				%b Experience:
				= @tutor_post.experience
		-if !@tutor_post.tutor_fee.nil?
			.h2
				%b Expected Salary:
				= @tutor_post.tutor_fee
		.h2
			%b District:
			= @tutor_post.district
		.h2
			%b City/Province:
			= @tutor_post.city_province
		%br
		.h2
			%b Brief introduction
			%br
			%i= @tutor_post.content
		- if @tutor_post.published
			.h2.link= link_to "Refuse it", "/mods/refuse_tutor_post/#{@tutor_post.id}"
		- else
			.h2.link= link_to "Publish it", "/mods/publish_tutor_post/#{@tutor_post.id}"
