.big-content	
	.header-link.left.active= link_to "EDIT A POST", "/tutor_posts/edit_tutor_post/#{@tutor_post.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY POSTS", "/tutor_posts/index_tutor_post/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "PENDING RECEIPTS", "/tutor_posts/index_recipe/1"
	.clearboth
	.form-content
		.h1= "EDIT POST"
		.form
			= form_for :tutor_post, :url => "/tutor_posts/update_tutor_post/#{@tutor_post.id}" do |f|
				= f.label "Subject"
				= f.select :subject, [['Physics','physics'],['Math','math'],['Chemistry','chemistry'],['English','english'],['Literature','literature'],['Biology','biology'],['Geography','geography'],['History','history']], :id => "subject"
				.clearboth
				= f.label "Tutor fee"
				= f.text_field :tutor_fee, :id => "tutor_fee", :placeholder => "Input tutor fee", :autocomplete => "off"
				.clearboth
				= f.label "Experience"
				= f.text_field :experience, :id => "experience", :placeholder => "Input experience", :autocomplete => "off"
				.clearboth
				= f.label "District"
				= f.text_field :district, :id => "district", :placeholder => "Input district", :autocomplete => "off"
				.clearboth
				= f.label "City/Province"
				= f.text_field :city_province, :id => "city_province", :placeholder => "Input city/province", :autocomplete => "off"
				.clearboth
				= f.label "Content"
				= f.text_area :content, :id => "content", :placeholder => "Input content", :autocomplete => "off"
				.clearboth
				= f.submit "Update", :id => "submit_btn", :class => "submit_btn"
				.clearboth
				.right.error
		-if @tutor_post.errors.any?
			#error_explanation
				%h2.errors= pluralize(@tutor_post.errors.count, "error") + " prohibited this tutor post from being saved:"
				%ul.errors
					-@tutor_post.errors.full_messages.each do |msg|
						%li.errors= msg