.big-content
  .header-link.left.inactive= link_to "CREATE A POST", "/tutor_posts/new_tutor_post"
  .divider.left= "|"
  .header-link.left.inactive= link_to "MY POSTS", "/tutor_posts/index_tutor_post/1"
  .divider.left= "|"
  .header-link.left.active= link_to "CUSTOMERS' RECEIPTS", "/tutor_posts/index_recipe/1"
  .clearboth
  - @recipes.each do |recipe|
    .small-content.left
      .text-content-left.left
        .h1.link= link_to "#{recipe.owner.username.upcase}", "/tutor_posts/show_recipe/#{recipe.id}"
        %hr
        .h2= recipe.owner.email
        .h2= recipe.tutor_post.subject.capitalize
        - if recipe.poster_confirmation.nil?
          .h2.waiting Waiting for your confirmation ...
        - elsif recipe.poster_confirmation
          .h2.success You've accepted this receipt!
        - else
          .h2.error You've denied this receipt
  .clearboth
  .paginate.right= will_paginate @recipes