.big-content
  .header-link.left.inactive= link_to "CREATE A POST", "/tutor_posts/new_tutor_post"
  .divider.left= "|"
  .header-link.left.active= link_to "MY POSTS", "/tutor_posts/index_tutor_post/1"
  .divider.left= "|"
  .header-link.left.inactive= link_to "CUSTOMERS' RECEIPTS", "/tutor_posts/index_recipe/1"
  .clearboth
  - @tutor_posts.each do |tutor_post|
    .post-content.left
      .text-content-left.left
        .h1.link= link_to "#{tutor_post.user.username.upcase}", "/tutor_posts/show_tutor_post/#{tutor_post.id}"
        = ratings_for tutor_post.user, :status, :remote_options => {:url => "/customer_homes/rate/#{tutor_post.user.id}"}
        .h2= tutor_post.user.email
        .h2
          %b 
            District:
          = tutor_post.district
        .h2
          %b 
            City/Province:
          = tutor_post.city_province
      .text-content-right.left
        .h2= tutor_post.content.truncate(750)
      .clearboth
      .text-content-right.left
        - if tutor_post.published
          .h2.success= "Your post is now publised"
        - else
          .h2.error= "Your post is not publised"
  .clearboth
  .paginate.right= will_paginate @tutor_posts