.big-content
	.header-link.left.inactive= link_to "CREATE A POST", "/tutor_posts/new_tutor_post"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY POSTS", "/tutor_posts/index_tutor_post/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "PENDING RECEIPTS", "/tutor_posts/index_recipe/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@recipe.owner.username.upcase}", "/tutor_posts/show_recipe/#{@recipe.id}"
	.clearboth
	.content
		.h1 REQUEST
		%br
		.h2
			%b Customer requested:
			= @recipe.owner.username
		.h2
			%b Subject:
			= @recipe.tutor_post.subject
		.h2
			%b Receipt created at:
			= @recipe.created_at.strftime("%H:%M %p on %d/%m/%Y")
		.h2
			%b Receipt updated at:
			= @recipe.updated_at.strftime("%H:%M %p on %d/%m/%Y")
		%br
		- if @recipe.poster_confirmation.nil?
			= button_to_function "Waiting for your confirmation ...", "$('.post-sample').toggle();"
		- elsif @recipe.poster_confirmation
			= button_to_function "You've accepted this recipe", "$('.post-sample').toggle();"
		-	else
			= button_to_function "You've denied this recipe", "$('.post-sample').toggle();"
		%br
		- if @recipe.poster_confirmation.nil?
			.post-sample
				.waiting
					.h1 HERE IS YOUR POST
					%br
					.h2
						%b Tutor's Name:
						= @recipe.tutor_post.user.username
					.h2
						%b Email:
						= @recipe.tutor_post.user.email
					.h2
						%b Subject:
						= @recipe.tutor_post.subject
					-if !@recipe.tutor_post.user.gender.nil?
						.h2
							%b Gender:
							= @recipe.tutor_post.user.gender.to_s
					-if !@recipe.tutor_post.experience.nil?
						.h2
							%b Experience:
							= @recipe.tutor_post.experience
					-if !@recipe.tutor_post.tutor_fee.nil?
						.h2
							%b Expected Salary:
							= @recipe.tutor_post.tutor_fee
					.h2
						%b District:
						= @recipe.tutor_post.district
					.h2
						%b City/Province: 
						= @recipe.tutor_post.city_province
					%br
					.h2
						%b Brief description
						%br
						%i= @recipe.tutor_post.content
		- elsif @recipe.poster_confirmation
			.post-sample
				.accepted
					.h1 HERE IS YOUR POST
					%br
					.h2
						%b Tutor's Name:
						= @recipe.tutor_post.user.username
					.h2
						%b Email:
						= @recipe.tutor_post.user.email
					.h2
						%b Subject:
						= @recipe.tutor_post.subject
					-if !@recipe.tutor_post.user.gender.nil?
						.h2
							%b Gender:
							= @recipe.tutor_post.user.gender.to_s
					-if !@recipe.tutor_post.experience.nil?
						.h2
							%b Experience:
							= @recipe.tutor_post.experience
					-if !@recipe.tutor_post.tutor_fee.nil?
						.h2
							%b Expected Salary:
							= @recipe.tutor_post.tutor_fee
					.h2
						%b District:
						= @recipe.tutor_post.district
					.h2
						%b City/Province:
						= @recipe.tutor_post.city_province+"."
					%br
					.h2
						%b Brief introduction
						%br
						%i= @recipe.tutor_post.content
		- else
			.post-sample
				.denied
					.h1 HERE IS YOUR POST
					%br
					.h2
						%b Tutor's Name:
						= @recipe.tutor_post.user.username
					.h2
						%b Email:
						= @recipe.tutor_post.user.email
					.h2
						%b Subject:
						= @recipe.tutor_post.subject
					-if !@recipe.tutor_post.user.gender.nil?
						.h2
							%b Gender:
							= @recipe.tutor_post.user.gender.to_s
					-if !@recipe.tutor_post.experience.nil?
						.h2
							%b Experience:
							= @recipe.tutor_post.experience
					-if !@recipe.tutor_post.tutor_fee.nil?
						.h2
							%b Expected Salary:
							= @recipe.tutor_post.tutor_fee
					.h2
						%b District:
						= @recipe.tutor_post.district
					.h2
						%b City/Province:
						= @recipe.tutor_post.city_province
					%br
					.h2
						%b Brief introduction
						%br
						%i= @recipe.tutor_post.content
		%br
		.h2 Your current rating
		= ratings_for @recipe.other, :static, :remote_options => {:url => "/customer_homes/rate/#{@recipe.other.id}"}
		%br
		- if @recipe.poster_confirmation.nil?
			.h2.link= link_to "Accept", "/tutor_posts/accept_recipe/#{@recipe.id}"
			%br
			.h2.link= link_to "Deny", "/tutor_posts/deny_recipe/#{@recipe.id}"