.big-content
	.header-link.left.inactive= link_to "CREATE A POST", "/tutor_posts/new_tutor_post"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY POSTS", "/tutor_posts/index_tutor_post/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@tutor_post.subject.upcase}", "/tutor_posts/show_tutor_post/#{@tutor_post.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "PENDING RECEIPTS", "/tutor_posts/index_recipe/1"
	.clearboth
	.content
		.h1= @tutor_post.user.username.upcase
		= ratings_for @tutor_post.user, :status, :remote_options => {:url => "/customer_homes/rate/#{@tutor_post.user.id}"}
		%br
		.h2
			%b Email:
			= @tutor_post.user.email
		.h2
			%b Gender:
			= @tutor_post.user.gender.to_s
		.h2
			%b Subject:
			= @tutor_post.subject
		-if !@tutor_post.experience.nil?
			.h2
				%b Experience:
				= @tutor_post.experience
		-if !@tutor_post.tutor_fee.nil?
			.h2
				%b Expected Salary:
				= @tutor_post.tutor_fee
		.h2
			%b District:
			= @tutor_post.district
		.h2
			%b City/Province:
			= @tutor_post.city_province
		%br
		.h2
			%b Brief introduction
			%br
			%i= @tutor_post.content
		.h2.link= link_to "Edit", "/tutor_posts/edit_tutor_post/#{@tutor_post.id}"
		%br
		.h2.link= link_to "Delete", "/tutor_posts/delete_tutor_post/#{@tutor_post.id}", :method => "post", :data => {:confirm => "Are you sure?"}