.big-content
  .header-link.left.active= link_to "CUSTOMERS", "/tutor_homes/index_customer_post/1"
  .divider.left= "|"
  .header-link.left.inactive= link_to "MY RECEIPTS", "/tutor_homes/index_recipe/1"
  .clearboth
  - @customer_posts.each do |customer_post|
    .post-content.left
      .text-content-left.left
        .h1.link= link_to "#{customer_post.user.username.upcase}", "/tutor_homes/show_customer_post/#{customer_post.id}"
        .h2= customer_post.user.email
        .h2= "District: "+customer_post.district
        .h2= "City(Province): "+customer_post.city_province
      .text-content-right.left
        .h2= customer_post.content.truncate(750)
      .clearboth
      .text-content-right.left
        - if my_recipe = customer_post.recipes.find { |recipe| recipe.owner.id == current_user.id }
          - if my_recipe.poster_confirmation.nil?
            .h2.waiting= "Requested and waiting ..."
          - elsif my_recipe.poster_confirmation
            .h2.success= "Requested and accepted!"
          - else
            .h2.error= "Requested and denied"
        - else
          .h2.link= link_to "Request", "/tutor_homes/create_recipe/#{customer_post.user.id}/#{customer_post.id}", :method => "post"
  .clearboth
  .paginate.right= will_paginate @customer_posts