.big-content
  .header-link.left.active= link_to "CUSTOMERS", "/tutor_homes/index_customer_post/1"
  .divider.left= "|"
  .header-link.left.inactive= link_to "RECEIPTS", "/tutor_homes/index_recipe/1"
  .clearboth
  - @customer_posts.each do |customer_post|
    .post-content.left
      .text-content-left.left
        .h1.link= link_to "#{customer_post.user.username.upcase}", "/tutor_homes/show_customer_post/#{customer_post.id}"
        .h2= customer_post.user.email
        .h2= "District: "+customer_post.district
        .h2= "City(Province): "+customer_post.city_province
      .text-content-right.left
        .h2= customer_post.content.truncate(250)
      .clearboth
      - if customer_post.recipe.nil?
        .h2.link.link_at_the_bottom= link_to "Accept", "/tutor_homes/create_recipe/#{customer_post.user.id}/#{customer_post.id}", :method => "post"
      - else
        .h2.link.link_at_the_bottom= link_to "Already accepted", "/tutor_homes/show_recipe/#{customer_post.recipe.id}"
  .clearboth
  .paginate.right= will_paginate @customer_posts