.big-content
  .header-link.left.inactive= link_to "CUSTOMERS", "/tutor_homes/index_customer_post/1"
  .divider.left= "|"
  .header-link.left.active= link_to "MY RECEIPTS", "/tutor_homes/index_recipe/1"
  .clearboth
  - @recipes.each do |recipe|
    .small-content.left
      .text-content-left.left
        .h1.link= link_to "#{recipe.other.username.upcase}", "/tutor_homes/show_recipe/#{recipe.id}"
        %hr
        .h2= recipe.other.email
        .h2= recipe.customer_post.subject.capitalize
        - if recipe.poster_confirmation.nil?
          .h2.waiting Waiting for confirmation ...
        - elsif recipe.poster_confirmation
          .h2.success Accepted
        - else
          .h2.error Denied
  .clearboth
  .paginate.right= will_paginate @recipes