.big-content
	.header-link.left.inactive= link_to "CUSTOMERS", "/tutor_homes/index_customer_post/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "RECEIPTS", "/tutor_homes/index_recipe/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@recipe.id}", "/tutor_homes/show_recipe/#{@recipe.id}"
	.clearboth
	.content
		.h2= @recipe.others.username
		- if @recipe.poster_confirmation.nil?
			.h2 Waiting for confirmation ...
		- else
			.h2= @recipe.poster_confirmation
		.h2= @recipe.created_at
		.h2= @recipe.updated_at
		.h2.link= link_to "Delete", "/tutor_homes/delete_recipe/#{@recipe.id}"