.big-content
	.header-link.left.inactive= link_to "CUSTOMERS", "/tutor_homes/index_customer_post/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY RECEIPTS", "/tutor_homes/index_recipe/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@recipe.other.username.upcase}", "/tutor_homes/show_recipe/#{@recipe.id}"
	.clearboth
	.content
		.h1 MY RECEIPT
		%br
		.h2
			%b Customer requested:
			= @recipe.other.username
		.h2
			%b Subject:
			= @recipe.customer_post.subject
		.h2
			%b Receipt created at:
			= @recipe.created_at.strftime("%H:%M %p on %d/%m/%Y")
		.h2
			%b Receipt updated at:
			= @recipe.updated_at.strftime("%H:%M %p on %d/%m/%Y")
		%br
		- if @recipe.poster_confirmation.nil?
			= button_to_function "Waiting for confirmation ...", "$('.post-sample').toggle();"
		- elsif @recipe.poster_confirmation
			= button_to_function "Your request has been accepted", "$('.post-sample').toggle();"
		-	else
			= button_to_function "Your request has been denied", "$('.post-sample').toggle();"
		%br
		- if @recipe.poster_confirmation.nil?
			.post-sample
				.waiting
					.h1 HERE IS THE POST
					%br
					.h2
						%b Customer's Name:
						= @recipe.customer_post.user.username
					.h2
						%b Email:
						= @recipe.customer_post.user.email
					.h2
						%b Subject:
						= @recipe.customer_post.subject
					-if !@recipe.customer_post.user.gender.nil?
						.h2
							%b Gender:
							= @recipe.customer_post.user.gender.to_s
					-if !@recipe.customer_post.experience.nil?
						.h2
							%b Required Experience:
							= @recipe.customer_post.experience
					-if !@recipe.customer_post.tutor_fee.nil?
						.h2
							%b Offered Salary:
							= @recipe.customer_post.tutor_fee
					.h2
						%b District:
						= @recipe.customer_post.district
					.h2
						%b City/Province:
						= @recipe.customer_post.city_province
					%br
					%i.h2
						%b Brief description
						%br
						= @recipe.customer_post.content
		- elsif @recipe.poster_confirmation
			.post-sample
				.accepted
					.h1 HERE IS THE POST
					%br
					.h2
						%b Customer's Name:
						= @recipe.customer_post.user.username
					.h2
						%b Email:
						= @recipe.customer_post.user.email
					.h2
						%b Subject:
						= @recipe.customer_post.subject
					-if !@recipe.customer_post.user.gender.nil?
						.h2
							%b Gender:
							= @recipe.customer_post.user.gender.to_s
					-if !@recipe.customer_post.experience.nil?
						.h2
							%b Required Experience:
							= @recipe.customer_post.experience
					-if !@recipe.customer_post.tutor_fee.nil?
						.h2
							%b Offered Salary:
							= @recipe.customer_post.tutor_fee
					.h2
						%b District:
						= @recipe.customer_post.district
					.h2
						%b City/Province:
						= @recipe.customer_post.city_province
					%br
					%i.h2
						%b Brief description
						%br
						= @recipe.customer_post.content
		- else
			.post-sample
				.denied
					.h1 HERE IS THE POST
					%br
					.h2
						%b Customer's Name:
						= @recipe.customer_post.user.username
					.h2
						%b Email:
						= @recipe.customer_post.user.email
					.h2
						%b Subject:
						= @recipe.customer_post.subject
					-if !@recipe.customer_post.user.gender.nil?
						.h2
							%b Gender:
							= @recipe.customer_post.user.gender.to_s
					-if !@recipe.customer_post.experience.nil?
						.h2
							%b Required Experience:
							= @recipe.customer_post.experience
					-if !@recipe.customer_post.tutor_fee.nil?
						.h2
							%b Offered Salary:
							= @recipe.customer_post.tutor_fee
					.h2
						%b District:
						= @recipe.customer_post.district
					.h2
						%b City/Province:
						= @recipe.customer_post.city_province
					%br
					%i.h2
						%b Brief description
						%br
						= @recipe.customer_post.content
		%br
		.h2.link= link_to "Delete", "/tutor_homes/delete_recipe/#{@recipe.id}", :data => {:confirm => "Are you sure?"}