.big-content
	.header-link.left.inactive= link_to "CUSTOMERS", "/tutor_homes/index_customer_post/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY RECEIPTS", "/tutor_homes/index_recipe/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@recipe.other.username.truncate(15).upcase}", "/tutor_homes/show_recipe/#{@recipe.id}"
	.clearboth
	.content
		.h3 MY RECEIPT
		.h2
			%b Customer requested:
			= @recipe.other.username
		.h2
			%b Subject:
			= @recipe.customer_post.subject.capitalize
		.h2
			%b Receipt created at:
			= @recipe.created_at.strftime("%H:%M %p on %d/%m/%Y")
		.h2
			%b Receipt updated at:
			= @recipe.updated_at.strftime("%H:%M %p on %d/%m/%Y")
		.star
			%b.h2.left= "Your rating:"
			.left= ratings_for @recipe.other, :static, :remote_options => {:url => "/customer_homes/rate/#{@recipe.other.id}"}, :show_user => true
		.clearboth
		- if @recipe.poster_confirmation.nil?
			= button_to_function "Waiting for confirmation ...", "jQuery.noConflict((function($){$('.post-sample').toggle()})(jQuery))"
		- elsif @recipe.poster_confirmation
			= button_to_function "Your request has been accepted", "jQuery.noConflict((function($){$('.post-sample').toggle()})(jQuery))"
		-	else
			= button_to_function "Your request has been denied", "jQuery.noConflict((function($){$('.post-sample').toggle()})(jQuery))"
		%br
			.post-sample
				- if @recipe.poster_confirmation.nil?
					.waiting
						.h1 HERE IS THE POST
					.body-block-waiting
						= render "shared/post"
				- elsif @recipe.poster_confirmation
					.accepted
						.h1 HERE IS THE POST
					.body-block-accepted
						= render "shared/post"
				- else
					.denied
						.h1 HERE IS THE POST
					.body-block-denied
						= render "shared/post"
		.h2.link.right= link_to "Delete", "/tutor_homes/delete_recipe/#{@recipe.id}"