.big-content
	.header-link.left.inactive= link_to "CUSTOMERS", "/tutor_homes/index_customer_post/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@customer_post.user.username.truncate(20).upcase}", "/tutor_homes/show_customer_post/#{@customer_post.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "RECEIPTS", "/tutor_homes/index_recipe/1"
	.clearboth
	.content
		.h2= @customer_post.user.username
		.h2= @customer_post.user.email
		.h2= @customer_post.user.gender
		.h2= @customer_post.subject
		.h2= @customer_post.experience
		.h2= @customer_post.user.address
		.h2= @customer_post.user.ward
		.h2= @customer_post.user.district
		.h2= @customer_post.user.city_province
		.h2= @customer_post.user.rate
		.h2= @customer_post.content
		.h2.link= link_to "Accept", "/tutor_homes/create_recipe/#{@customer_post.user.id}"