.big-content	
	.header-link.left.active= link_to "CREATE", "/users/new"
	.divider.left= "|"
	.header-link.left.inactive= link_to "USERS", "/users/index/1"
	.clearboth
	.form-content
		.h1= "CREATE A USER"
		.form
			= form_for :user, :url => "/users/create" do |f|
				= f.label "Username"
				= f.text_field :username, :id => "username", :placeholder => "Input username", :autocomplete => "off"
				.clearboth

				= f.label "Password"
				= f.password_field :password, :id => "password", :placeholder => "Input password", :autocomplete => "off"
				.clearboth

				= f.label "Re-enter password"
				= f.password_field :password_confirmation, :id => "password_confirmation", :placeholder => "Input password confirmation"
				.clearboth

				= f.label "Email"
				= f.text_field :email, :id => "email", :placeholder => "Input email"
				.clearboth

				= f.label "Role"
				= f.select :role, [['Customer','customer'],['Tutor','tutor'],['Admin','admin']], :id => "role"
				.clearboth

				= f.submit "Submit", :id => "submit_btn", :class => "submit_btn"
				.clearboth
				.right.error
		-if @user.errors.any?
			#error_explanation
				%h2.errors= pluralize(@user.errors.count, "error") + " prohibited this user from being saved:"
				%ul.errors
					-@user.errors.full_messages.each do |msg|
						%li.errors= msg