.big-content
  .title= "EDIT YOUR PROFILE"
  .devise-content
    = form_for(:user, :url => "/users/self_update") do |f|
      %div
        = f.label :email
        = f.email_field :email
      .clearboth
      - (User::ATTRS - [:gender, :email]).each do |attribute|
        %div
          = f.label attribute
          = f.text_field attribute
        .clearboth
      = f.label :gender, "Gender", :class => "gender-label"
      = f.select :gender, options_for_select([['Male', 'Male'], ['Female', 'Female']], @user.gender), :class => "select-role"
      .clearboth
      %div= f.submit "Update", :class => "submit"
      .clearboth
    .links-block
      %span= link_to "Change your password", edit_registration_path(current_user)
    -if @user.errors.any?
      #error_explanation
        %h2.errors= pluralize(@user.errors.count, "error") + " prohibited this user from being updated:"
        %ul.errors
          -@user.errors.full_messages.each do |msg|
            %li.errors= msg