<div class="big-content">
	<div class="title">FORGOT YOUR PASSWORD?</div>
	<div class="devise-content">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= f.hidden_field :reset_password_token %>

		  <%= f.label :password, "New Password" %>
		  <%= f.password_field :password %>
		  <div class="clearboth"></div>


		  <%= f.label :password_confirmation, "Re-enter Password" %>
		  <%= f.password_field :password_confirmation %>
		  <div class="clearboth"></div>

		  <%= f.submit "Submit", :class => " submit" %>
		  <div class="clearboth"></div>

			
		  <div class="links-block">
  			<span ><%= link_to "Sign in", new_session_path(resource_name), :class => ""%></span>
  			<span >|</span>
  			<span class=""><%= link_to "Sign up", new_registration_path(resource_name), :class => ""%></span>
  			<span >|</span>
  			<span ><%= link_to "Resend confirmation email", new_confirmation_path(resource_name), :class => "" %></span>
		  </div>
		  <div class="clearboth"></div>
		 
		  <%= devise_error_messages! %>
		<% end %>
	</div>
</div>
