.h2
	%b Tutor's Name:
	= @recipe.tutor_post.user.username
.h2
	%b Email:
	= @recipe.tutor_post.user.email
.h2
	%b Subject:
	= @recipe.tutor_post.subject.capitalize
-if !@recipe.tutor_post.user.gender.nil?
	.h2
		%b Gender:
		= @recipe.tutor_post.user.gender.to_s
-if !@recipe.tutor_post.experience.nil?
	.h2
		%b Experience:
		= @recipe.tutor_post.experience
-if !@recipe.tutor_post.tutor_fee.nil?
	.h2
		%b Expected Salary:
		= @recipe.tutor_post.tutor_fee
.h2
	%b District:
	= @recipe.tutor_post.district
.h2
	%b City/Province: 
	= @recipe.tutor_post.city_province
%br
.h2
	%b Brief description
	%br
	%i= @recipe.tutor_post.content	