.big-content	
	.header-link.left.active= link_to "EDIT A POST", "/customer_posts/edit_customer_post/#{@customer_post.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY POSTS", "/customer_posts/index_customer_post/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "PENDING RECEIPTS ...", "/customer_posts/index_recipe/1"
	.clearboth
	.form-content
		.h1= "EDIT POST"
		.form
			= form_for :customer_post, :url => "/customer_posts/update_customer_post/#{@customer_post.id}" do |f|
				= f.label "Subject"
				= f.select :subject, [['Physics','physics'],['Math','math'],['Chemistry','chemistry'],['English','english'],['Literature','literature'],['Biology','biology'],['Geography','geography'],['History','history']], :id => "subject"
				.clearboth
				= f.label "Offered Salary"
				= f.text_field :tutor_fee, :id => "tutor_fee", :placeholder => "Input tutor fee", :autocomplete => "off"
				.clearboth
				= f.label "Required Experience"
				= f.text_field :experience, :id => "experience", :placeholder => "Input experience", :autocomplete => "off"
				.clearboth
				= f.label "Address"
				= f.text_field :address, :id => "address", :placeholder => "Input address", :autocomplete => "off"
				.clearboth
				= f.label "District"
				= f.text_field :district, :id => "district", :placeholder => "Input district", :autocomplete => "off"
				.clearboth
				= f.label "City/Province"
				= f.text_field :city_province, :id => "city_province", :placeholder => "Input city/province", :autocomplete => "off"
				.clearboth
				= f.label "Content"
				= f.text_area :content, :id => "content", :placeholder => "Input content", :autocomplete => "off"
				.clearboth
				= f.submit "Update", :id => "submit_btn", :class => "submit_btn"
				.clearboth
				.right.error
		-if @customer_post.errors.any?
			#error_explanation
				%h2.errors= pluralize(@customer_post.errors.count, "error") + " prohibited this customer post from being saved:"
				%ul.errors
					-@customer_post.errors.full_messages.each do |msg|
						%li.errors= msg