.big-content
	.header-link.left.inactive= link_to "CREATE A POST", "/customer_posts/new_customer_post"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY POSTS", "/customer_posts/index_customer_post/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY RECEIPTS", "/customer_posts/index_recipe/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@recipe.id}", "/customer_posts/show_recipe/#{@recipe.id}"
	.clearboth
	.content
		.h2= @recipe.owner.username
		.h2= @recipe.created_at
		.h2= @recipe.updated_at
		.h2.link= link_to "Accept", "/customer_posts/accept_recipe/#{@recipe.id}"
		.h2.link= link_to "Deny", "/customer_posts/deny_recipe/#{@recipe.id}"