.big-content
	.header-link.left.inactive= link_to "CREATE A POST", "/customer_posts/new_customer_post"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY POSTS", "/customer_posts/index_customer_post/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "PENDING RECEIPTS", "/customer_posts/index_recipe/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@recipe.owner.username.upcase}", "/customer_posts/show_recipe/#{@recipe.id}"
	.clearboth
	.content
		.h1= "Tutor: "+@recipe.owner.username
		.h1= "Email: "+@recipe.owner.email
		.h1= "Gender: "+@recipe.owner.gender.to_s
		.h1= "Address: "+@recipe.owner.address+", ward: "+@recipe.owner.ward+", disctrict: "+@recipe.owner.district+", city/province: "+@recipe.owner.city_province+"."
		- if @recipe.poster_confirmation.nil?
			.h1 Waiting for your confirmation ...
		- elsif @recipe.poster_confirmation
			.h1= "Confirmed"
		-	else
			.h1= "Denied" 
		.h1= "Receipt created at: "+@recipe.created_at.strftime("%H:%M %p on %d/%m/%Y")
		.h1= "Receipt updated at: "+@recipe.updated_at.strftime("%H:%M %p on %d/%m/%Y")
		.h1= @recipe.owner.username+"has accepted your("+@recipe.others.username+"'s) following post:"
		.post_sampple
			.h2= "Customer Name: "+@recipe.customer_post.user.username
			.h2= "Email: "+@recipe.customer_post.user.email
			.h2= "Gender: "+@recipe.customer_post.user.gender.to_s
			.h2= "Subject: "+@recipe.customer_post.subject
			-if !@recipe.customer_post.experience.nil?
				.h2= "Required Experience: "+@recipe.customer_post.experience
			-if !@recipe.customer_post.tutor_fee.nil?
				.h2= "Offered Salary: "+@recipe.customer_post.tutor_fee
			.h2= "Address: "+@recipe.customer_post.address+", district: "+@recipe.customer_post.district+", city/crovince: "+@recipe.customer_post.city_province+"."
			%br
			%i.h2= @recipe.customer_post.content.truncate(250)
		- if @recipe.poster_confirmation.nil?
			.link_at_the_bottom
				.h1.link.float= link_to "Accept", "/customer_posts/accept_recipe/#{@recipe.id}"
				.h1.link.float= link_to "Deny", "/customer_posts/deny_recipe/#{@recipe.id}"