.big-content
	.header-link.left.inactive= link_to "CREATE A POST", "/customer_posts/new_customer_post"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY POSTS", "/customer_posts/index_customer_post/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@customer_post.subject.upcase}", "/customer_posts/show_customer_post/#{@customer_post.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "PENDING RECEIPTS", "/customer_posts/index_recipe/1"
	.clearboth
	.content
		.h1 You have created a post with following infomations. It is being shown in public.
		%br
		%br
		.h1= "Subject: "+@customer_post.subject
		.h1= "Offered Salary: "+@customer_post.tutor_fee
		.h1= "Required Experience: "+@customer_post.experience
		.h1= "Address: "+@customer_post.address+", district: "+@customer_post.district+", city/province: "+@customer_post.city_province+"."
		%br
		%i.h1= @customer_post.content
		.link_at_the_bottom
			.h1.link.float= link_to "Edit", "/customer_posts/edit_customer_post/#{@customer_post.id}"
			.h1.link.float= link_to "Delete", "/customer_posts/delete_customer_post/#{@customer_post.id}", :method => "post", :data => {:confirm => "Are you sure?"}