.big-content
	.header-link.left.inactive= link_to "CREATE A POST", "/customer_posts/new_customer_post"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY POSTS", "/customer_posts/index_customer_post/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@customer_post.subject.upcase}", "/customer_posts/show_customer_post/#{@customer_post.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "PENDING RECEIPTS", "/customer_posts/index_recipe/1"
	.clearboth
	.content
		.s3 You have created a post with following infomations. It is being shown in public.
		%br
		%br
		.s3.left= "Subject: "
		.s5.left=@customer_post.subject
		.clearboth
		.s3.left= "Offered Salary: "
		.s5.left=@customer_post.tutor_fee
		.clearboth
		.s3.left= "Required Experience: "
		.s5.left=@customer_post.experience
		.clearboth
		.s3.left= "Address: "
		.s5.left=@customer_post.address
		.s3.left=", district: "
		.s5.left=@customer_post.district
		.s3.left=", city/province: "
		.s5.left=@customer_post.city_province+"."
		.clearboth
		%br
		.s5= @customer_post.content
		.link_at_the_bottom
			.btn.float= link_to "Edit", "/customer_posts/edit_customer_post/#{@customer_post.id}"
			.btn.float= link_to "Delete", "/customer_posts/delete_customer_post/#{@customer_post.id}", :method => "post", :data => {:confirm => "Are you sure?"}