.big-content
	.header-link.left.inactive= link_to "CREATE A POST", "/customer_posts/new_customer_post"
	.divider.left= "|"
	.header-link.left.inactive= link_to "MY POSTS", "/customer_posts/index_customer_post/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "TUTORS' RECEIPTS", "/customer_posts/index_recipe/1"
	.divider.left= ">>"
	.header-link.left.active= link_to "#{@recipe.owner.username.truncate(14).upcase}", "/customer_posts/show_recipe/#{@recipe.id}"
	.clearboth
	.content
		.h3 REQUEST

		.h2
			%b Tutor requested:
			= @recipe.owner.username
		.h2
			%b Subject:
			= @recipe.customer_post.subject.capitalize
		.h2
			%b Receipt created at:
			= @recipe.created_at.strftime("%H:%M %p on %d/%m/%Y")
		.h2
			%b Receipt updated at:
			= @recipe.updated_at.strftime("%H:%M %p on %d/%m/%Y")
		
		.star
			- if @recipe.poster_confirmation
				%b.h2.left= "Rate this tutor"
				= ratings_for @recipe.other, :remote_options => {:url => "/customer_homes/rate/#{@recipe.other.id}"}, :show_user => true
			- else
				%b.h2.left=  "Tutor's rating"
				= ratings_for @recipe.other, :static, :remote_options => {:url => "/customer_homes/rate/#{@recipe.other.id}"}, :show_user => true

		- if @recipe.poster_confirmation.nil?
			= button_to_function "Waiting for your confirmation ...", "jQuery.noConflict((function($){$('.post-sample').toggle()})(jQuery))"
		- elsif @recipe.poster_confirmation
			= button_to_function "You've accepted this recipe", "jQuery.noConflict((function($){$('.post-sample').toggle()})(jQuery))"
		-	else
			= button_to_function "You've denied this recipe", "jQuery.noConflict((function($){$('.post-sample').toggle()})(jQuery))"

		- if @recipe.poster_confirmation.nil?
			.post-sample
				.waiting
					.h1 HERE IS YOUR POST
				.body-block-waiting
					= render "shared/post"
		- elsif @recipe.poster_confirmation
			.post-sample
				.accepted
					.h1 HERE IS YOUR POST
				.body-block-accepted
					= render "shared/post"
		- else
			.post-sample
				.denied
					.h1 HERE IS YOUR POST
				.body-block-denied
					= render "shared/post"
		%br
		- if @recipe.poster_confirmation.nil?
			.h2.right.link= link_to "Accept", "/customer_posts/accept_recipe/#{@recipe.id}"
			.clearboth
			.h2.right.link= link_to "Deny", "/customer_posts/deny_recipe/#{@recipe.id}"
