.big-content	
	.header-link.left.inactive= link_to "CREATE", "/users/new"
	.divider.left= "|"
	.header-link.left.inactive= link_to "userS", "/users/index/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "#{@user.title.truncate(20).upcase}", "/users/show/#{@user.id}"
	.divider.left= "|"
	.header-link.left.active= link_to "NEW INSTANCE", "/customer_posts/new/#{@user.id}"
	.clearboth
	.form-content
		.h1= "CREATE A NEW user INSTANCE"
		.form
			= form_for :customer_post, :url => "/customer_posts/create/#{@user.id}" do |f|
				= f.label "user code"
				= f.text_field :customer_post_code, :id => "customer_post_code", :placeholder => "Input user instance code"
				.clearboth
				= f.submit "Create", :id => "submit_btn", :class => "submit_btn"
				.clearboth
				.right.error