.big-content
	.header-link.left.active= link_to "SEARCH TUTOR POSTS", "/searches/customer"
	.divider.left= "|"
	.header-link.left.inactive= link_to "SEARCH TUTORS", "/searches/customer_tutor"
	.clearboth
	.form-content
		.h1= "SEARCH FOR TUTOR POSTS"
		= form_tag "/searches/customer"
		- TutorPost::ATTRS.each do |element|
			.h2.left= label_tag "#{element}"
			.right= search_field_tag "#{element}", nil, :placeholder => "Input #{element.capitalize}"
			.clearboth
		.right= submit_tag "Submit"